In [1]:
import pandas as pd
import numpy as np

In [2]:
import os
temp_List = os.listdir("temp/")

In [3]:
add_dict = {}
fp = "temp/"
for i in temp_List:
    x =pd.read_csv(fp+i).columns[2][15:21]
    add_dict[x] = i

In [4]:
temp2=pd.DataFrame()

for key, value in add_dict.items():
    print(key,value)
    temp = pd.read_csv("temp/"+value, names=['day','hour','Temp'])
    
    for i in range(temp.shape[0]):
        try:
            temp.iloc[i,0] = int(temp.iloc[i,0])
        except:
            temp.iloc[i,0] = np.NaN
    temp.dropna(inplace=True)
    temp = temp.reset_index()
    
    temp["hour"]=pd.to_numeric(temp["hour"])
    temp["day"]=pd.to_numeric(temp["day"])
    temp["Temp"]=pd.to_numeric(temp["Temp"])
    
    temp['grid']=key
    temp2=pd.concat([temp2,temp], axis=0)

63_126 400_20190704183220.csv
62_126 400_20190704192259.csv
63_127 400_20190704183125.csv
62_125 400_20190704183243.csv
63_125 400_20190704183227.csv
61_125 400_20190704183442.csv
61_126 400_20190704192317.csv
61_124 400_20190704183414.csv
60_125 400_20190704191715.csv
60_126 400_20190704192405.csv
59_125 400_20190704191800.csv
59_124 400_20190704191801.csv
58_125 400_20190704191852.csv
58_126 400_20190704191913.csv
59_126 400_20190704192339.csv
58_124 400_20190704191757.csv
57_125 400_20190704191806.csv
57_127 400_20190704191833.csv
57_126 400_20190704191908.csv
58_127 400_20190704191952.csv
59_127 400_20190704192010.csv
60_127 400_20190704192425.csv
59_128 400_20190704192009.csv
61_129 400_20190704192050.csv
61_128 400_20190704192120.csv
62_129 400_20190704192024.csv
62_128 400_20190704192144.csv
60_128 400_20190704192126.csv
61_127 400_20190704192411.csv
62_127 400_20190704192258.csv

In [5]:
temp2.min()

index        1.0
day          1.0
hour         0.0
Temp       -50.0
grid     57125.0
dtype: float64

In [6]:
temp2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 262800 entries, 0 to 8759
Data columns (total 5 columns):
index    262800 non-null int64
day      262800 non-null int64
hour     262800 non-null int64
Temp     262800 non-null float64
grid     262800 non-null object
dtypes: float64(1), int64(3), object(1)
memory usage: 12.0+ MB

In [7]:
temp2.head()

   index  day  hour  Temp    grid
0      1    1     0  -1.0  63_126
1      2    1   100   0.8  63_126
2      3    1   200   2.0  63_126
3      4    1   300   2.8  63_126
4      5    1   400   3.3  63_126

In [8]:
temp2["hour"].unique()

array([   0,  100,  200,  300,  400,  500,  600,  700,  800,  900, 1000,
       1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800, 1900, 2000, 2100,
       2200, 2300], dtype=int64)

In [9]:
temp2["hour"]=temp2["hour"]/100

In [10]:
temp2["hour"].unique()

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 14., 15., 16., 17., 18., 19., 20., 21., 22., 23.])

In [11]:
temp_data=temp2[(temp2["hour"]>=8) & (temp2["hour"]<=20)]

In [12]:
temp_data.drop("index",axis=1,inplace=True)

C:\Users\B-17\AppData\Roaming\Python\Python36\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [13]:
temp_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142350 entries, 8 to 8756
Data columns (total 4 columns):
day     142350 non-null int64
hour    142350 non-null float64
Temp    142350 non-null float64
grid    142350 non-null object
dtypes: float64(2), int64(1), object(1)
memory usage: 5.4+ MB

In [14]:
temp_data_avg=temp_data[["grid","day","Temp"]].groupby(["grid","day"]).mean()
temp_data_avg=temp_data_avg.reset_index()
temp_data_avg.columns=['grid','day','temp_avg']

In [15]:
temp_data_max=temp_data[["grid","day","Temp"]].groupby(["grid","day"]).max()
temp_data_max=temp_data_max.reset_index()
temp_data_max.columns=['grid1','day1','temp_max']

In [16]:
temp_data_min=temp_data[["grid","day","Temp"]].groupby(["grid","day"]).min()
temp_data_min=temp_data_min.reset_index()
temp_data_min.columns=['grid2','day2','temp_min']

In [17]:
temp_data_min.values

array([['57_125', 1, -7.7],
       ['57_125', 2, -8.3],
       ['57_125', 3, -11.2],
       ...,
       ['63_127', 29, -12.4],
       ['63_127', 30, -11.6],
       ['63_127', 31, -10.3]], dtype=object)

In [18]:
temp_data_max.head()

    grid1  day1   temp_max
0  57_125     1  35.299999
1  57_125     2  35.400002
2  57_125     3  33.099998
3  57_125     4  32.099998
4  57_125     5  30.900000

In [19]:
temp_data_min.head()

    grid2  day2  temp_min
0  57_125     1      -7.7
1  57_125     2      -8.3
2  57_125     3     -11.2
3  57_125     4     -10.5
4  57_125     5     -11.9

In [20]:
temp_dataset=pd.concat([temp_data_max,temp_data_min],axis=1)
temp_dataset=pd.concat([temp_dataset,temp_data_avg],axis=1)

In [21]:
temp_dataset.head(2)

    grid1  day1   temp_max   grid2  day2  temp_min    grid  day   temp_avg
0  57_125     1  35.299999  57_125     1      -7.7  57_125    1  12.047436
1  57_125     2  35.400002  57_125     2      -8.3  57_125    2  12.685256

In [22]:
temp_dataset=temp_dataset[["grid","day","temp_avg","temp_max","temp_min"]]

In [23]:
temp_dataset.head()

     grid  day   temp_avg   temp_max  temp_min
0  57_125    1  12.047436  35.299999      -7.7
1  57_125    2  12.685256  35.400002      -8.3
2  57_125    3  12.664103  33.099998     -11.2
3  57_125    4  11.985897  32.099998     -10.5
4  57_125    5  11.444231  30.900000     -11.9